body {
  font-family: "lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 180px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 18px 35px 19px 36px;
}
.btn-contact{
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  font-size: 20px;
  color: #fd6e0a;
  margin: 0px 0px 0px 20px;
  padding: 18px 35px 19px 36px;

  bro
}
.text-color {
  color: #fd6e0a;
}
.nav-title {
  color: var(--Dark-01, #181818);

  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
/* Header style start */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right,top left;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-picture {
  width: 500px;
  height: 600px;
}
.banner .banner-content {
  text-align: left;
  /* padding-top: 100px; */
}
.banner-greating {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-info {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin: 130px 0 120px 0;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.about {
  padding: 130px 120px;
  border-radius: 10px;
  margin: 130px 0;
  background: #fff8f3;
}

/* Main section style start */
main {
  max-width: 1140px;
  margin: 0px auto;
}
.about-info-cointainer {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
  margin: 30px 50px 0px 22px;
}
.info-title {
  color: #757575;
  text-align: center;
  font-size: 17px;
  line-height: 30px;
}
.info-description {
  color: var(--Dark-02, #474747);
  font-size: 20px;
  line-height: 30px;
  max-width: 300px;
  justify-content: space-around;
}
#what-i-do-description {
  padding: 30px 150px;
  color: var(--Dark-03, #757575);
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
/* skills related  */
.skill-contianer {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;

  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill .skill-image {
  margin: auto;
  display: block;
}
.skill .section-title {
  color: var(--Dark-01, #181818);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.skill .skill-description {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.resume-container {
  display: flex;
  justify-content: space-around;
}
.resume-column-title {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.resume-container hr {
  margin-right: 30px;
}
.resume-item-title {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 30px 0 10px 0;
}
.resume-item-institue {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.resume-item-description {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin: 20px 40px 30px 0;
}
.download-cv {
  text-align: center;
  margin: 50px 0 100px 0;
}
.footer {
  display: flex;
  padding: 130px 200px;
  background-color: #fff8f3;
  margin-top: 100px;
  gap: 100px;
}
.footer-column {
  width: 50%;
}
.footer-title {
  color: var(--Dark-01, #181818);
  font-size: 35px;
  font-style: normal;
  line-height: normal;
}
.footer-description {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.form-section input,
textarea {
  display: block;
}
.form-section input{
  width: 461px;
height: 64px;
flex-shrink: 0;
margin: 28px 0 24px 0px;
border-radius: 5px;
}
input,
input::placeholder {
    font: 1.25rem/3 sans-serif;
    padding: 0 0 0 5px;
}
.form-section textarea{
  width: 461px;
height: 180px;
flex-shrink: 0;
margin: 24px 0;
}
textarea,
input::placeholder {
    font: 1.25rem/3 sans-serif;
    padding: 0 0 0 5px;
}
.social-media img{
  margin: 30px 24px 0px 0;
}
